[Desktop Entry]
Version=1.0
Name=D.A.V.E
Comment=Digital Assistant Voice Enabled
Exec=/usr/bin/x-terminal-emulator -e "/opt/DAVE/src/DAVE.sh"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/opt/DAVE/src/icon.png
Categories=GNOME;GTK;Development;
Name[en_GB]=D.A.V.E
